<div class="grid grid-cols-3 ">
  <app-product img="https://picsum.photos/640/640?r=12" title="Producto 1" [price]=2000/>
  <app-product img="https://picsum.photos/640/640?r=13" title="Producto 2" [price]=2400/>
  <app-product img="https://picsum.photos/640/640?r=15" title="Producto 3" [price]=4600/>
  <app-product img="https://picsum.photos/640/640?r=18" title="Producto 4" [price]=10000/>
  <app-product img="https://picsum.photos/640/640?r=100" title="Producto 5" [price]=100/>
  <app-product img="https://picsum.photos/640/640?r=120" title="Producto 6" [price]=2000/>
</div>
